@import url("https://fonts.googleapis.com/css?family=Coda&display=swap");
@import url("https://fonts.googleapis.com/css?family=Blinker|Darker+Grotesque|Gayathri|Poppins:300|Raleway&display=swap");
body {
  transition: color 2s ease;
  font-family: "Coda";
  letter-spacing: 0.1em;
  background: rgb(255, 255, 255);
  color: #613a57;
}
.Nav {
  #home {
    transition: color 2s ease;
    margin-left: 1em;
    font-size: 2em;
    color: #a93451;
    text-decoration: underline;
    cursor: pointer;
  }
}
.home {
  text-align: center;
  padding-top: 10vh;
  img {
    max-width: 100%;
  }
  p {
    display: inline-block;
    margin: auto 1.5em;
    a {
      text-decoration: none;
      color: rgb(152, 131, 100);
      &:hover {
        text-decoration: underline;
        color: #a93451;
      }
    }
  }
}
#description {
  transition: color 2s ease;
  // border: 1px solid black;
}

#necklaceContainer {
  text-align: center;
  iframe {
    margin: 0.5em 0em 1em;
  }
  #necklacePhotoGallery {
    img {
      width: 45%;
      margin: 0em 1em;
    }
  }
}

#ambisonicContainer {
  text-align: center;
  img {
    width: 95%;
  }
  iframe {
    width: 60vw;
    margin: 3em 0;
    background-color: #ed4a2f;
  }
}

.stringQuartet {
  text-align: center;
  img {
    width: 100%;
  }
}
.stringQuartetSplitSection {
  img {
    width: 50%;
  }
}
.videoContainer {
  position: relative;
  text-align: center;
  padding-bottom: 56.25%;
  height: 0;
  overflow: hidden;
  max-width: 100%;
  height: auto;
}
#stringQuartetVideo {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

#webFrameContainer {
  transition: background-color 2s ease;
  position: relative;
  text-align: center;
  padding-bottom: 56.25%;
  height: 0;
  overflow: hidden;
  max-width: 100%;
  height: 100%;
  #webFrame {
    border: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}
#workList {
  font-size: 1.25em;
  list-style-type: none;
  padding-left: 0;
  margin-left: 0em;
  li {
    margin: 2em;
    cursor: pointer;
    &:hover {
      opacity: 0.6;
    }
  }
}
.Content {
  border: 1px solid transparent;
  // padding-top: 4vh;
  width: 100%;
  text-align: left;
  height: 150%;
  h1 {
    text-decoration: underline;
  }
  p {
    font-size: 1.2em;
  }
}

@media (min-width: 800px) {
  .Nav {
    position: fixed;
  }
  .Content {
    margin-left: 20vw;
    width: 77vw;
    height: 100%;
  }
  .stringQuartet {
    img {
      width: 70%;
    }
  }
  .stringQuartetSplitSection {
    img {
      width: 35%;
    }
  }
  .videoContainer {
    padding-bottom: 40.25%;
  }
  #stringQuartetVideo {
    left: 15%;
    width: 70%;
  }
}
.button-row {
  display: flex;
  flex-direction: row;
  width: 640px;
  margin: 0 auto;
  justify-content: space-between;
}
